@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>This information is for educational and informational purposes only. 
    The content should not be construed as legal advice. It is not intended to create, 
    and receipt of it does not constitute, an attorney-client relationship. 
    The author disclaim all responsibility for any and all losses,
    damages, or causes of action that may arise or be connected with the use of these materials.
    Please consult a licensed attorney in your area with specific legal questions or concerns..</p>
</div>
