@model CasualShop.DAL.Entities.Clothes

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Clothes</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <h2>Adding new clothes</h2>
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="text-danger">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Brand <br />
                    @Html.DropDownListFor(model => model.BrandId, ViewBag.Brands as SelectList)
                </div>
                <div class="form-group">
                    Brand <br />
                    @Html.DropDownListFor(model => model.TagId, ViewBag.Tags as SelectList)
                </div>
                
                <div class="form-group">
                    <label asp-for="Image.Title"></label>
                    <input asp-for="Image.Title" accept="image/*" />
                    <span asp-validation-for="Image.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image.ImageFile"></label>
                    <input asp-for="Image.ImageFile" accept="image/*" />
                    <span asp-validation-for="Image.ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>



    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
